<div class="aside animate">
	<div class="header">
		<div class="logo">
			<a href="http://jdillman.com"></a>
		</div>

		<div class="name">
			<h1>Jesse Dillman</h1>
		</div>

		<div class="mobile-nav" id="mobilenav"></div>
	</div>
	<div class="sidebar animate">
		<div id="mobile-collapse"></div>
		<div class="social">
			<div class="menu-social-container">
				<ul id="menu-social" class="menu">
					<li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13"><a href="https://github.com/jdillman1989">Github</a></li>
					<li id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15"><a href="https://twitter.com/JesseCDillman">Twitter</a></li>
					<li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-14"><a href="https://www.linkedin.com/pub/jesse-dillman/1a/375/358">LinkedIn</a></li>
				</ul>
			</div>
		</div>
		<div class="search">
			<form role="search" method="get" id="searchform" class="searchform" action="http://jdillman.com/">
				<div>
					<input type="text" value="" name="s" id="s" class="search-field">
					<input type="submit" id="searchsubmit" class="search-submit" value="">
				</div>
			</form>
		</div>
		<div class="nav">
			<div class="menu-primary-menu-container">
				<ul id="menu-primary-menu" class="menu">
					<li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-11"><a href="http://jdillman.com">Blog</a></li>
					<li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10"><a href="http://jdillman.com/about/">About</a></li>
					<li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12"><a href="https://github.com/jdillman1989?tab=repositories">Work</a></li>
				</ul>
			</div>
		</div>
		<div class="controls">
			<div id="nightmode"></div>
			<div id="daymode"></div>
		</div>
	</div>
</div>