aside{
	background-color: $secondary;
	width: 350px;
	flex-shrink: 0;
	padding: 20px 0;
	position: relative;
	@include breakpoint($breakPoint) {
		width: 100%;
		flex-shrink: 1;
		padding: 10px 15px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	.aside-container > *{
		padding: 0 35px;
		margin-bottom: 20px;
		@include breakpoint($breakPoint) {
			margin: 0;
			padding: 0;
		}
	}
	.aside-container{
		@include breakpoint($breakPoint) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.logo{
			display: block;
			svg{
				height: 200px;
				width: auto;
				margin: 0 auto;
				display: block;
				@include breakpoint($breakPoint) {
					height: 50px;
					margin: 0;
				}
			}
		}
		h1{
			color: $primary;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 0;
			@include breakpoint($breakPoint) {
				display: inline-block;
				width: 100%;
				font-size: $fontsizeH3;
			}
		}
		.search{
			display: flex;
			align-items: stretch;
			justify-content: center;
			input{
				width: 100%;
				background-color: $primary;
				padding: 0 10px;
				font-size: $fontsizeP;
				font-family: $body;
				color: $textPrimary;
				font-weight: 400;
			}
			button{
				padding: 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;
				background-color: $primary;
				svg{
					width: 25px;
					height: 25px;
				}
			}
		}
		nav{
			padding: 0;
			@include breakpoint($breakPoint) {
				margin: 20px 0;
			}
			a{
				display: block;
				padding: 10px 35px;
				text-transform: uppercase;
				color: $primary;
				font-size: $fontsizeH2;
				font-family: $heading;
				text-decoration: none;
				font-weight: 700;
				transition: all 0.2s ease;
				&:hover{
					background-color: darken($secondary, 20%);
				}
				@include breakpoint($breakPoint) {
					padding: 10px 0;
					text-align: left;
				}
			}
		}
		.controls{
			div{
				background-color: $primary;
				width: 40px;
				height: 40px;
				transition: all 0.3s ease;
				cursor: pointer;
				svg{
					width: 40px;
					height: 40px;
				}
				&:hover{
					background-color: $tertiary;
				}
				&#daymode{
					display: none;
				}
			}
		}
		#menu, #close{
			display: none;
			flex-shrink: 0;
			svg{
				height: 30px;
				width: auto;
			}
			@include breakpoint($breakPoint) {
				display: inline-block;
			}
		}
		#close{
			background-color: $primary;
			margin-bottom: 20px;
			transition: all 0.3s ease;
			text-align: right;
			svg{
				height: 40px;
			}
			&:hover{
				background-color: $tertiary;
			}
		}
	}
	.scroll{
		padding-top: 20px;
		transform: none;
		&.fixed{
			position: fixed;
			top: 0;
			z-index: 1;
			width: 350px;
		}
		@include breakpoint($breakPoint) {
			position: fixed;
			transition: all 0.3s ease;
			left: 100%;
			top: 0;
			z-index: 10;
			display: block;
			background-color: $secondary;
			padding: 20px;
			min-width: 250px;
			text-align: right;
		}
	}
}