*{
  box-sizing: border-box;
}

.animate{
	transition: all 0.3s ease;
}

svg{
	width: 100%;
	height: auto; 
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

body{
	margin: 0 auto;
	font-family: $body;
}

input, textarea, button{
	display: block;
	border: none;
	appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: $textPrimary;
	outline: none;
	margin: 0;
	padding: 0;
}
