@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

$body: Georgia, serif;
$heading: 'Montserrat', sans-serif;

$fontsizeH1: 32px;
$fontsizeH2: 25px;
$fontsizeH3: 20px;
$fontsizeP: 16px;

a{
	color: $tertiary;
	text-decoration: underline;
	&:visited{
		color: lighten($tertiary, 20%);
	}
	&:hover{
		color: darken($tertiary, 20%);
	}
}

strong{
	font-weight: 700;
}

em{
	font-style: italic;
}

p, li{
	font-size: $fontsizeP;
	font-family: $body;
	margin-bottom: 1.2em;
	font-weight: 400;
	line-height: 1.6em;
}

ul, ol{
	font-size: $fontsizeP;
	font-family: $body;
}

ul{
	list-style: disc inside;
}

ol{
	list-style: decimal inside;
}

h3, .h-three{
	font-size: $fontsizeH3;
	font-family: $body;
	line-height: 1.1em;
	font-weight: 700;
	margin-bottom: 0.7em;
}

h2, .h-two{
	font-size: $fontsizeH2;
	font-family: $heading;
	line-height: 1.1em;
	font-weight: 400;
	margin-bottom: 0.7em;
}

h1{
	font-size: $fontsizeH1;
	font-family: $heading;
	line-height: 1.1em;
	font-weight: 700;
}

body{
	color: $textPrimary;
}