<html lang="en-US"><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Jesse Dillman</title>
	<link rel="stylesheet" href="http://localhost:4000/assets/css/main.css" type="text/css" media="all">
</head>
<body>
	<div class="container animate">
		<div class="content">

			{% for post in site.posts %}
				<div class="post-container">
					<h2>{{ post.title }}</h2> 
					<div class="meta">
						<p class="date"><em>{{ post.date }}</em> | </p>
						<p class="date">{{ post.url }}</p>
						<ul class="post-categories">
							{% for cat in post.category %}
								<li><a href="http://jdillman.com/category/php/" rel="category tag">PHP</a></li>
							{% endfor %}							
						</ul>
					</div>
					{{ post.content }}
				</div>
			{% endfor %}

			<div class="post-container">
				<p class="previous paged animate"><a href="http://jdillman.com/page/2/">Previous »</a></p>
				<p class="next paged animate"></p>
			</div>
		</div>
		{% include header.html %}
	</div>
</body>
</html>